*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
@font-face{
    font-family: ProductSans;
    src: url(../../assets/fonts/ProductSansBold.ttf);
}
#box_container{
    width: 250px;
    height: 250px;
    background-color: darkblue;
    margin: 50px 0px 0px 50px;
    border-radius: 25%;
    cursor: pointer;
}
#box_container:hover{
    transition: box-shadow 500ms;
    /*
    box-shadow: horizontal_offset vertical_offset spread_amount shadow_color;
    box-shadow: inset horizontal_offset vertical_offset spread_amount shadow_color;
    */
    box-shadow: 0px -25px 5px gray;
    box-shadow: 25px 0px 5px gray;
    box-shadow: 0px 25px 5px gray;
    box-shadow: -25px 0px 5px gray;
    box-shadow: -25px -25px 5px gray;
    box-shadow: 25px -25px 5px gray;
    box-shadow: 25px 25px 5px gray;
    box-shadow: -25px 25px 5px gray;
}
#click_here_button{
    font-size: 150px;
    font-family: ProductSans;
    padding: 20px;
    margin: 50px 0px 0px 50px;
    outline: none;
    border: none;
    border-radius: 50px;
    background-color: peachpuff;
    box-shadow: inset -25px -25px 50px orangered;
}